@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* MAIN COLORS */
  --Primary: #2a2f3b;
  --Secondary: #3f4552;
  --Tertiary: #1b263b;

  /* ACCENT COLORS */
  --colorLink: #64ffda;
  --colorHover: #a29bfe;

  /* TEXT COLORS */
  --textPrimary: #e4e7eb;
  --textSecondary: #bcc2c7;
  --colorGold: #d4af37;
  --colorDarkGold: #b8860b;
  --colorRuby: #9b111e;
  --colorRubyDark: #800020;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--Primary);
    --foreground: var(--textPrimary);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background); /* Page Background Color */
  color: var(--foreground); /* Text Color */
  font-family: var(--font-sans), sans-serif; /* Text Font */

  /* cursor: url("/icon/git.svg"), auto;  */
}

@theme {
  /* MAIN COLORS */
  --color-primary: oklch(0.324 0.027 269.48); /* #2a2f3b */
  --color-secondary: oklch(0.367 0.025 267.43); /* #3f4552 */
  --color-tertiary: oklch(0.236 0.027 266.23); /* #1b263b */

  /* ACCENT COLORS */
  --color-link: oklch(0.833 0.19 163.08); /* #64ffda */
  --color-hover: oklch(0.839 0.19 302.29); /* #a29bfe */

  /* TEXT COLORS */
  --color-textPrimary: oklch(0.902 0.012 260.02); /* #e4e7eb */
  --color-textSecondary: oklch(0.776 0.011 260.6); /* #bcc2c7 */

  /* ADDITIONAL COLORS */
  --color-gold: oklch(0.731 0.189 97.53); /* #d4af37 */
  --color-dark-gold: oklch(0.618 0.188 95.91); /* #b8860b */
  --color-ruby: oklch(0.429 0.231 24.48); /* #9b111e */
  --color-ruby-dark: oklch(0.343 0.218 22.8); /* #800020 */
}

/* TEXT GRADIENT */
.hero {
  @apply bg-clip-text text-transparent;
  @apply bg-[linear-gradient(to_bottom,_theme(colors.ruby-dark)_5%,_theme(colors.gold)_50%)];
}
.hero-2 {
  @apply bg-clip-text text-transparent;
  @apply bg-[linear-gradient(to_top,_theme(colors.ruby-dark)_5%,_theme(colors.gold)_50%)];
}

/* PROJECT CARD */
.card-container {
  @apply w-[341px] h-[350px] cursor-pointer;
  perspective: 1000px;
}

.card-inner {
  @apply w-full h-full relative transition-transform duration-700;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  @apply absolute w-full h-full rounded bg-secondary flex flex-col items-center justify-center;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  @apply bg-secondary;
}

.powered-by-logo {
  @apply bg-primary rounded-xl shadow-lg shadow-amber-100/4 flex flex-col items-center justify-center px-4 py-4 transition-transform hover:scale-110 hover:shadow-lg;
}

/* Hide scrollbar but still allow scrolling */
.vertical-scroll-container {
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.vertical-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
