@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Synced Tailwind color palette as CSS variables */

  /* MAIN COLORS */
  --Primary: #2a2f3b;
  --Secondary: #3f4552;
  --Tertiary: #1b263b;

  /* ACCENT COLORS */
  --colorLink: #64ffda;
  --colorHover: #a29bfe;

  /* TEXT COLORS */
  --textPrimary: #e4e7eb;
  --textSecondary: #bcc2c7;
  --colorGold: #d4af37;
  --colorDarkGold: #b8860b;
  --colorRuby: #9b111e;
  --colorRubyDark: #800020;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--Primary);
    --foreground: var(--textPrimary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
